*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

a, button{
  cursor: pointer;
  color: #222222;
}

a, a:hover{
  text-decoration: none;
  color: #000;
}

.all-container {
  /* background-color: #000; */
  min-height: 100vh;
  font-size: 1.3rem;
}

.loading-container {
  width: 100%;
  height: 100%;
  /* background: #666666; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.loading {
  z-index: 100;
}

.loading-img {
  width: 5%;
}

/* header begin */
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  color: #ffffff; 
}

.header-logo {
  width: 2.5rem;
}

.current-user-container {
  display: flex;
  align-items: center;
}

.current-user-photo {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  background-color: rgb(115, 12, 248);
}

.current-user-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn-signout {
  margin: 0;
}

.btn-signout:hover {
  cursor: pointer;
}
/* header end */

/* sign area begin */
.sign-container {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  font-size: 1.3rem;
}

.sign-area {
  display: flex;
  flex-direction: column;
}

.tab-title {
  text-align: center;
}

.logo-img {
  width: 4rem;
  margin: 0 20px;
}

.form-sign {
  display: flex;
  align-items: center;
}

.form-all-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign-logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.form-logo {
  font-size: 3rem;
  font-weight: bold;
}

.form-input-group {
  width: 100%;
}

.form-action-container {
  display: flex;
  align-items: center;
}
/* sign area end */

/* homePage begin */
.password-list-container {
  display: flex;
  justify-content: center;
}

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accountName {
  font-weight: bold;
}

.btn-to-detail {
  background-color: rgb(36, 50, 82);
  color: #ffffff;
}

.btn-add-password {
  background-color: #504e4e;
  color: #ffffff;
}

.form-add-edit-password {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-input {
  width: 100%;
}

.btn-submit {
  background-color: rgb(38, 71, 87);
  color: #ffffff;
}

.btn-cancel {
  background-color: rgb(148, 45, 45);
  color: #ffffff;
}
/* homePage end */

/* detail password begin */
.detail-account-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail-account-title {
  /* display: flex; */
}

.detail-account-action-container {
  display: flex;
  align-items: flex-end;
}

.detail-account-action {
  display: flex;
  align-content: center;
}

.detail-account-action:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.password-detail-area {
  display: flex;
  align-items: center;
}

.show-password-area {
  display: flex;
  align-items: center;
}

.showPassword-toggle {
  font-size: 2rem;
}

.showPassword-toggle:hover {
  cursor: pointer;
}

.modal-otp-body {
  width: 100%;
  display: flex;
}

.input-otp-area {
  display: flex;
  align-items: center;
}

.btn-resend-otp:hover {
  cursor: pointer;
  background-color: #333333;
  color: #ffffff;
}

.alert-error {
  font-size: 1rem;
}

.form-action-area {
  display: flex;
  align-items: center;
}
/* detail password end */